@media screen and (max-width:1200px) {
    .navigation {
        flex-direction: column;
        margin-bottom: 23px;
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
    }

    .left-content h1 {
        font-size: 20px;
    }

    .right-content {
        display: none;
    }


    .form-input{
        width: 50%;
    }

    .nav-right {
        flex-direction: row;
    }

    .content h1 {
        text-align: center;
    }

    .home-articles {
        flex-direction: column;
        text-align: center;
    }

    .year-box {
        top: 5px;
        right: 50px;
        display: flex;
        font-size: 12px;
    }
    .form-input{
        font-size: 12px;
        padding: 5px 10px;
    }
  

    .year-box div {
        padding: 0 3px;
        margin: 0;
    }
    .form-box input{
        width: 67vw;
    }
    .form-box textarea{
        width: 67vw;
    }
    .post-img{
        height: auto;
    }
    .row{
        flex-direction: column;
    }
    .blog-post-content h1 {
        font-size: 22px;
    }
}